body{
    margin: 0;
    padding: 0;

}
.container{
    display: flex;
    justify-content:center;

}
.container p{
    margin: 0;
}
.container a{
    color: #0000EE;
}
header{
    display: flex;
    justify-content: center;

}
footer p{
    text-align: center;
}